.form-header {
  height: 10vh;
  background-color: #537188;
  display: flex;
  align-items: center;
  color: #fff;
}

.form-body {
  padding: 30px;
  height: 90vh;
  background-color: #eeeeee;
}

.form-body h5 {
  margin: 10px 0;
}

.chose-file {
  background-color: #537188 !important;
  color: #fff !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  margin-right: 20px !important;
}

.form-body button {
  background-color: #d32f2f;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
  padding: 10px 15px;
}

.form-body button:hover {
  background-color: #d32f2f;
}

.form-body a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #537188;
}
